<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <Properties>
        <Property name="logBase">../log</Property>
    </Properties>
    <appenders>
        <Console name="console-appender" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %msg%n" />
        </Console>
        <!-- pikachuImpl-default -->
        <RollingFile name="pikachuImpl-default" fileName="${logBase}/pikachuImpl/default.log"
                     filePattern="${logBase}/pikachuImpl/default/default_%d{yyyy-MM-dd}_%i.log">
            <PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%t]  %msg%n"/>
            <!-- <PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%t] [%logger{36}] %msg%n"/> -->
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
        <!-- pikachuImpl-trace -->
        <RollingFile name="pikachuImpl-trace" fileName="${logBase}/pikachuImpl/trace.log"
                     filePattern="${logBase}/pikachuImpl/trace/trace_%d{yyyy-MM-dd}_%i.log">
            <PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <Filters>
                <ThresholdFilter level="debug" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>
        <!-- pikachuImpl-debug -->
        <RollingFile name="pikachuImpl-debug" fileName="${logBase}/pikachuImpl/debug.log"
                     filePattern="${logBase}/pikachuImpl/debug/debug_%d{yyyy-MM-dd}_%i.log">
            <PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <Filters>
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>
        <!-- pikachuImpl-info-error -->
        <RollingFile name="pikachuImpl-info-error" fileName="${logBase}/pikachuImpl/info-error.log"
                     filePattern="${logBase}/pikachuImpl/info-error/info-error_%d{yyyy-MM-dd}_%i.log">
            <PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <Filters>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>
    </appenders>

    <loggers>
        <logger name="com.pikachuImpl.core" level="trace" additivity="true">
            <appender-ref ref="pikachuImpl-default" />
            <appender-ref ref="pikachuImpl-trace" />
            <appender-ref ref="pikachuImpl-debug" />
            <appender-ref ref="pikachuImpl-info-error"/>
        </logger>
        <root level="error">
            <appender-ref ref="console-appender" />
        </root>
    </loggers>
</configuration>